<div class="column-gap-3 d-flex display-6 justify-content-center py-3 mb-3">
  <span class="paige-icon">
    <a href="https://twitter.com/ExpidusOS">
      <i class="bi bi-twitter">
        <span class="visually-hidden">Twitter</span>
      </i>
    </a>
  </span>
  <span class="paige-icon">
    <a href="https://discord.gg/3kPk9ZU6Da">
      <i class="bi bi-discord">
        <span class="visually-hidden">Discord</span>
      </i>
    </a>
  </span>
  <span class="paige-icon">
    <a href="https://reddit.com/r/ExpidusOS">
      <i class="bi bi-reddit">
        <span class="visually-hidden">Reddit</span>
      </i>
    </a>
  </span>
  <span class="paige-icon">
    <a href="https://github.com/ExpidusOS">
      <i class="bi bi-github">
        <span class="visually-hidden">GitHub</span>
      </i>
    </a>
  </span>
</div>
